* {
	font-family: 'Cabin', sans-serif;
	box-sizing: border-box;
	margin: 0;
}

body {

}

header {
	display: flex;
	background: #6E9075;
	color: #380823;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
}

a {
	color: #380823;
}

textarea {
	width: 200px;
	height: 100px;
}

.accent-font {
	font-family: 'El Messiri', sans-serif;
}

.box-shadow {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.blog-title-box {
	width: 60%;
	padding-left: 20px;
}

.signin-box {
	width: 39%;
	justify-content: space-between;
}

.username-box {
	display: flex;
	justify-content: flex-end;
}

.username-box * {
	padding: 20px 20px 0 0;
}

.blog-title {
	font-size: 50px;
}

.blog-title-link {
	text-decoration: none;
}

.login-prompt-box {
	text-align: right;
	padding: 20px 20px 0 0;
}

.login-form {
	display: none;
	padding-top: 5px;
}

.login {
	text-decoration: underline;
	cursor: pointer;
}

.welcome-banner {
	margin-top: 75px;
	background-image: url("/static/img/tree.jpg");
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.welcome-message {
	font-size: 80px;
	color: #FDFDFF;
	text-align: center;
	text-shadow: -1px 0 #6E9075, 0 1px #6E9075, 1px 0 #6E9075, 0 -1px #6E9075;
}

.create-button {
	width: 125px;
	height: 40px;
	margin: auto;
	font-size: 20px;
	background-color: #81F0E5;
	color: #380823;
	border: 1px solid #6E9075;
	border-radius: 25px;
}

.post {
	width: 80%;
	margin: auto;
	padding: 20px;
}

.post-header {
	display: flex;
	justify-content: space-between;
}

.new-post-box,
.registration-form-box {
	margin-top: 105px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.new-post-header,
.registration-header {
	font-size: 36px;
	background-color: #E7ECEF;
	font-weight: 100;
	color: #380823;
}

.registration-header {
	padding-bottom: 5px;
}

.registration-input {
	margin: 10px;
}

.login-alternative {
	text-decoration: underline;
}

.new-post-form {
	padding-top: 10px;
}

.subject-input {
	margin-bottom: 10px;
	padding: 2px;
	width: 200px;
}

.cancel-button-box {
	width: 180px;
}

.login-alternative-box {
	width: 250px;
}

.cancel-button-box,
.login-alternative-box {
	border-top: 1px solid #6E9075;
	margin: auto;
}

.login-prompt {
	padding: 5px;
}

.input-button,
.cancel-button,
.comment-button,
.comment-submit,
.registration-form-button {
	background-color: #6E9075;
	color: #FDFDFF;
	border: none;
	border-radius: 25px;
	height: 25px;
	margin: 5px 10px;
	font-size: 16px;
}

.login-submit {
	background-color: #FDFDFF;
	color: #380823;
	border: none;
	border-radius: 25px;
	font-size: 14px;
}

.post-content {
	margin-bottom: 15px;
}

.post-footer {
	border-top: 1px solid #6E9075;
	padding: 5px 0;
}

.like-box {
	display: flex;
	justify-content: space-between;
}

.fa {
	color: #380823;
}

.new-post-success {
	position: fixed;
	top: 90px;
	width: 100%;
}

.edit-delete-box {
	width: 80%;
	text-align: left;
	margin-top: -25px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
}

.comments-section {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.add-comments-box {
	text-align: center;
	padding-top: 15px;
}

.comments-form-box {
	text-align: center;
	display: none;
}

.comments-section-header {
	color: #380823;
	text-align: center;
	font-size: 20px;
}

.comment-input {
	width: 300px;
	height: 40px;
}

.comment {
	margin: 15px;
	padding: 10px 0;
	display: flex;
	border-top: 1px solid #6E9075;
}

.comment-details {
	width: 30%;
	border-right: 2px solid #6E9075;
}

.comment-text-box {
	width: 70%;
	padding-left: 15px;
}

.deleted-post,
.success-message,
.comments-error-box {
	text-align: center;
}

.deleted-post-header {
	padding-top: 20px;
	color: #380823;
}

.deleted-text {
	font-size: 18px;
	padding-top: 10px;
}

.permalink-box,
.deleted-post {
	margin-top: 75px;
}

.post:nth-child(odd) {
	background-color: #E7ECEF;
}

.comment:last-child {
	border-bottom: 1px solid #6E9075;
}

.create-button:hover,
.cancel-button:hover,
.input-button:hover,
.comment-button:hover,
.comment-submit:hover,
.registration-form-button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.login-submit:hover,
.login-alternative:hover {
	cursor: pointer;
}

.comment-button:focus {
	outline: 0;
}