<!DOCTYPE html>
<html>
	<head>
		<title>Trek</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="https://use.fontawesome.com/f650e03175.js"></script>
		<link rel="stylesheet" href="/static/css/main.css"/>
		<link href="https://fonts.googleapis.com/css?family=Cabin|El+Messiri:700" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="blog-title-box">
				<a class="blog-title-link" href="/"><p class="blog-title accent-font">Trek</p></a>
			</div>
			<div class="signin-box">
				{% if user %}
					<div class="username-box">
						<p><a href="/logout">Logout</a>
						<p class="welcome-username">Welcome, {{user.username}}</p>
					</div>
				{% else %}
					<div class="login-prompt-box">
						<p class="signin-prompt"><a href="/register">Register</a> or <span class="login">Login</span></p>
						<form class="login-form" method="post">
							<input type="text" name="username" placeholder="Username" value="{{username}}">
							<input type="password" name="password" placeholder="Password">
							<input class="login-submit" type="submit" name="login-form">
						</form>
						<div class="login-error">
							{% if username_error %}
								<p class="login-user-error">{{username_error}}</p>
							{% elif password_error %}
								<p class="login-pw-error">{{password_error}}</p>
							{% elif signin_error %}
								<p class="signin-error">Login failed.  Try again or <a href="/register">Register</a> for account.</p>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>
		</header>
		{% block content %}
		{% endblock %}
		{% block form %}
		{% endblock %}
	</body>
</html>