<!DOCTYPE html>
<html>
	<head>
		<title>Vacation Blog</title>
		<script src="/static/app.js"></script>
	</head>
	<body>
		<header>
			<div class="blog-title">
				<p>Vacation Stories</p>
			</div>
			<div class="signin">
				{% if user %}
					<div class="username">
						<p>Welcome, {{user.username}}</p>
						<p><a href="/logout">Logout</a>
					</div>
				{% else %}
					<div class="login-prompt">
						<p><a href="/register">Register</a> or <a class="login" href="#">Login</a></p>
						<form class="login-form" method="post">
							<input type="text" name="username" placeholder="Username" value="{{username}}">
							<input type="password" name="password" placeholder="Password">
							<input type="submit">
						</form>
						<div class="login-error">
							{% if username_error %}
								<p class="login-user-error">{{username_error}}</p>
							{% elif password_error %}
								<p class="login-pw-error">{{password_error}}</p>
							{% elif signin_error %}
								<p class="signin-error">Login failed.  Try again or <a href="/register">Register</a> for account.</p>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>
		</header>
		{% block content %}
		{% endblock %}
		{% block form %}
		{% endblock %}
	</body>
</html>