<div class="comment" data-commentid="{{comment.key().id()}}">
	<div class="comment-details">
		<h3 class="comment-author">{{comment.author}}</h3>
		<p class="comment-time">{{comment.created.strftime("%b %d")}} at {{comment.created.strftime("%I:%M")}}</p>
		{% if comment.author == username %}
			<a class="comment-delete" href="/delete_comment/{{post_id}}?comment={{comment.key().id()}}">Delete</a>
			<p class="comment-edit">Edit</p>
		{% endif %}
	</div>
	<div class="comment-text-box">
		<p class="comment-text">{{comment.content}}</p>
	</div>
	<div id="editModal" class="modal">
		<div class="modal-content">
			<span class="modal-close">X</span>
			<p>Edit comment:</p>
			<form method="post" class="comment-edit-form">
				<input class="comment-input" type="text" name="edited-content" value="{{comment.content}}">
				<input class="comment-submit" type="submit" name="comment-edit">
			</form>
		</div>
	</div>
</div>