{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>

<form method="post">
	<label>Username
		<input type="text" name="username" value="{{username}}">
		{% if username_error %}
			{{username_error}}
		{% endif %}
	</label>
	<br>
	<label>Password
		<input type="password" name="password">
		{% if password_error %}
			{{password_error}}
		{% endif %}
	</label>
	<br>
	<label>Verify Password
		<input type="password" name="verify">
		{% if verify_error %}
			{{verify_error}}
		{% endif %}
	</label>
	<br>
	<label>Email (optional)
		<input type="text" name="email" value="{{email}}">
		{% if email_error %}
			{{email_error}}
		{% endif %}
	</label>
	<br>
	<button>Submit</button>
</form>

{% endblock %}