{% extends "base.html" %}

{% block form %}

{% if new_post %}
	<h2>Create New Post</h2>
{% elif edit_post %}
	<h2>Edit Post</h2>
	<p>{{subject}}</p>
	<p>Originally created: {{created.strftime("%b %d")}} at {{created.strftime("%I:%M")}}</p>
{% endif %}

<form class="new-post-form" method="post">
	<label class="post-subject">Subject
		<input type="text" name="subject" value="{{subject}}">
	</label>
	{{subject_error}}
	<br>
	<label class="post-content">Content
		<textarea name="content">{{content}}</textarea>
	</label>
	{{content_error}}
	<br>
	<input type="submit">
</form>

{% endblock %}