{% extends "base.html" %}

{% block form %}

{% if new_post %}
	<h2>Create New Post</h2>
{% elif edit_post %}
	<h2>Edit Post</h2>
	<p>{{subject}}</p>
	<p>Originally created: {{created.strftime("%b %d")}} at {{created.strftime("%I:%M")}}</p>
{% endif %}

<form class="new-post-form" method="post">
	<label class="post-subject">Subject
		<input type="text" name="subject" value="{{subject}}">
	</label>
	{{subject_error}}
	<br>
	<label class="post-content">Content
		<textarea name="content">{{content}}</textarea>
	</label>
	{{content_error}}
	<br>
	{% if new_post %}
		<input type="submit">
		<input type="reset" value="Clear">
	{% elif edit_post %}
		<input type="submit" value="Submit Changes">
		<input type="reset" value="Clear Changes">
	{% endif %}
</form>
{% if edit_post %}
	<button type="button" onclick="location.href='/delete/{{post_id}}'">Delete Post</button>
{% endif %}

{% endblock %}