{% extends "base.html" %}

{% block content %}
<div class="permalink-box">
	{{post.render() | safe}}
	{% if new_post %}
		<div class="new-post-success">
			<p class="success-message">Post created successfully!</p>
		</div>
	{% elif edited_post %}
		<div class="new-post-success">
			<p class="success-message">Post edited successfully!</p>
		</div>
	{% endif %}
	{% if post.author == user.username %}
		<div class="edit-delete-box">
			<a href="/edit/{{post.key().id()}}">Edit/Delete Post</a>
		</div>
	{% endif %}
	<div class="comments-section">
		<h4 class="comments-section-header">Comments: {{number_comments}}</h4>
		<div class="add-comments-box">
			<button class="comment-button">Add Comment</button>
		</div>
		<div class="comments-form-box">
			<form class="comment-form" method="post">
				<input class="comment-input" type="text" name="content">
				<input class="comment-submit" type="submit" name="comment-form">
			</form>
		</div>
		{% for comment in comments %}
			{{comment.render(user.username, post.key().id()) | safe}}
		{% endfor %}
	</div>
</div>
{% endblock %}
