{% extends "base.html" %}

{% block content %}
<main class="registration-form-box box-shadow">
	<h1 class="registration-header">Register</h1>
	<form class="registration-form" method="post">
		<label>Username
			<input class="registration-input" type="text" name="username" value="{{reg_username}}">
		</label>
		<br>
		<label>Password
			<input class="registration-input" type="password" name="password">
		</label>
		<br>
		<label>Verify Password
			<input class="registration-input" type="password" name="verify">
		</label>
		<br>
		<label>Email (optional)
			<input class="registration-input" type="text" name="email" value="{{email}}">
		</label>
		<br>
		<div class="registration-form-error">
			<p>{{reg_username_error}}</p>
			<p>{{existing_error}}</p>
			<p>{{reg_password_error}}</p>
			<p>{{verify_error}}</p>
			<p>{{email_error}}</p>
		</div>
		<input class="registration-form-button" type="submit" name="registration-form">
	</form>
	<div class="login-alternative-box">
		<p class="login-prompt"> Already have an account? <span class="login-alternative">Login.</span></p>
	</div>
</main>
{% endblock %}